pyforms
python-qt4
numpy
git+https://github.com/nltk/nltk.git
git+https://github.com/UmSenhorQualquer/pyforms.git
git+https://github.com/UmSenhorQualquer/pysettings.git
python-pyqt5
SpeechRecognition
wave
pyaudio
	

