pyforms
python-qt4
numpy
git+https://github.com/UmSenhorQualquer/pyforms.git
git+https://github.com/UmSenhorQualquer/pysettings.git
git+https://bitbucket.org/fchampalimaud/logging-bootstrap.gi‌​t
python-pyqt5


